<!-- clients -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Clients</h2>
        <ul class="list-inline text-center">
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="images/clients-logo/client-1.png" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="images/clients-logo/client-2.png" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="images/clients-logo/client-3.png" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="images/clients-logo/client-4.png" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="images/clients-logo/client-5.png" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="images/clients-logo/client-6.png" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="images/clients-logo/client-7.png" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="images/clients-logo/client-8.png" alt="clients-logo" class="img-fluid"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /clients -->