<!-- team -->
<section class="section-lg team" id="team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Team</h2>
        <p class="mb-100">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu<br>
          fugiat nulla pariatur. Excepteur sint occaecat </p>
      </div>
    </div>
    <div class="col-10 mx-auto">
      <div class="team-slider">
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-1.jpg" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Becroft</h4>
              <h6 class="text-color">web designer</h6>
            </div>
          </div>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. S eparated they</p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-2.jpg" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>John Doe</h4>
              <h6 class="text-color">web developer</h6>
            </div>
          </div>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. S eparated they</p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-3.jpg" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Erik Ligas</h4>
              <h6 class="text-color">Programmer</h6>
            </div>
          </div>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
            the blind texts. S eparated they</p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-1.jpg" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Erik Ligas</h4>
              <h6 class="text-color">Programmer</h6>
            </div>
          </div>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
            the blind texts. S eparated they</p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-2.jpg" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>John Doe</h4>
              <h6 class="text-color">web developer</h6>
            </div>
          </div>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. S eparated they</p>
        </div>
      </div>
    </div>
  </div>
  <!-- backgound image -->
  <img src="images/backgrounds/team-bg.png" alt="team-bg" class="img-fluid team-bg">
  <!-- background shapes -->
  <img class="team-bg-shape-1 up-down-animation" src="images/background-shape/seo-ball-1.png" alt="background-shape">
  <img class="team-bg-shape-2 left-right-animation" src="images/background-shape/seo-ball-1.png" alt="background-shape">
  <img class="team-bg-shape-3 left-right-animation" src="images/background-shape/team-bg-triangle.png" alt="background-shape">
  <img class="team-bg-shape-4 up-down-animation img-fluid" src="images/background-shape/team-bg-dots.png" alt="background-shape">
</section>
<!-- /team -->